{% extends "base.html" %}

{% block content %}
<div class="container-fluid bg-gradient-to-l from-orange-300 to to-orange-700 h-800">
    <h1 class="text-white">Hola accede a mi blog</h1>
    <button
        class="px-6 py-2 font-medium tracking-wide text-white capitalize transition-colors duration-300 transform bg-blue-600 rounded-lg hover:bg-blue-500 focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-80">
        <a href=" {% url 'blogApp:home-blog' %} "> Presiona aquí</a>
    </button>
</div>
{% endblock content %}